# Dependencies
node_modules/
**/node_modules/
target/
**/target/
dist/
**/dist/

# IDE / Editor
.idea/
.vscode/
*.iml

# Database files
*.db
*.mv.db
*.lock.db

# Logs & temporary files
*.log
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
